= content_for :title do
  Nodes &middot; #{@node.name}

.container
  .row
    = link_to '', class: 'btn btn-default btn-grad btn-round' do
      Dashboard
    = link_to '', class: 'btn btn-default btn-grad btn-round' do
      Repositories
    = link_to '', class: 'btn btn-default btn-grad btn-round' do
      Work spaces
    = link_to '', class: 'btn btn-default btn-grad btn-round' do
      Developers
    = link_to '', class: 'btn btn-default btn-grad btn-round' do
      Keys
    = link_to '', class: 'btn btn-default btn-grad btn-round' do
      Domains