%li.landings= link_to 'Home', root_path
%li= link_to 'Features', root_path(anchor: 'features')
%li= link_to 'Pricing', root_path(anchor: 'pricing')
%li.users-registrations= link_to 'Sign up now', new_user_registration_path
%li.users-sessions= link_to 'Sign in', new_user_session_path