!!!
%html
  %head
    = render partial: 'shared/header'
  %body
    = render partial: 'shared/nav'
    = render partial: 'shared/flash'
    = yield
    :javascript
      $(function() {
        $('#menu ul li.#{params[:controller].parameterize}').addClass('active');
      });